body {
  padding-top: 70px;
}

.navbar-default {
	background: white;
	border-color:white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color:black;
}

.navbar-default .navbar-brand {
	font-size: 32px;
}

.color {
	margin-bottom: 20px;
}

.color-sample {
	height: 128px;
}


.color-code {
	font-size: 1.5em;
	color: black;
}

.text-center {
	text-align: center
}

@media (min-width: 768px) {

	.color {
		float: left;
		margin-right: 10px;
	}
	.color-sample {
		width: 128px;
		border-radius: 5px;
	}

}